{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>Register</h2>

{% if error %}
<p style=" background-color: red; padding: 1rem; margin-top: 65px;">{{ error }}</p>
{% endif %}

<form class="registration-form" action="{% url 'register' %}" method="POST">
  {% csrf_token %}

  <div>
    <label class="username-label" for="first_name">First Name</label>
    <input class="user-info" type="text" name="first_name" placeholder="Enter your first name" required maxlength="25"
      minlength="2" />
  </div>
  <div>
    <label class="username-label" for="last_name">Last Name</label>
    <input class="user-info" type="text" name="last_name" placeholder="Enter your last name" required maxlength="25"
      minlength="2" />
  </div>
  <div>
    <label class="username-label" for="email">Email</label>
    <input class="user-info" type="email" name="email" placeholder="Email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
  </div>
  <div>
    <label class="username-label" for="username">Username</label>
    <input class="user-info" type="text" name="username" placeholder="Username" required maxlength="25" minlength="2" />
  </div>
  <div>
    <label class="username-label" for="password">Password</label>
    <input class="user-info" type="password" name="password" placeholder="Password" required maxlength="25" minlength="8" />
  </div>
  <div>
    <label class="username-label" for="password2">Confirm Password</label>
    <input class="user-info" type="password" name="password2" placeholder="Confirm Password" required maxlength="25"
      minlength="8" />
  </div>
  <div class="btn-container">
    <input class="login-reg-submit" type="submit" value="Register">
  </div>
</form>

{% endblock %}