{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h1 class="about-meenstream"> About MeenStream</h1>
<img class="about-logo" src="/static/images/meenstream-logo.png" alt="Logo" />
<p class="about-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sed consequuntur
  deleniti possimus, quibusdam
  debitis harum. Tenetur sapiente accusantium fugit eum ut aspernatur quam dicta ea. Officia dolor quod a!</p>

<h1 class="about-us">About Us</h1>
<div class="developers">
  <div class="developer">
    <div>
      <h1>Emily</h1>
      <image class="photoemily" src="/static/images/emily.jpg" alt="Emily">
        <p>Natasha is a developer and designer based in San Francisco, CA, who is passionate about design,
          technology
          and advancement. <br /> </br /> On her free time, Natasha enjoys being an active individual, meeting
          new people and
          creating new experiences.
          <br /> </br />
          Contact:
          <br /> </br />
          <a href="https://natashaquijano.com/">natashaquijano.com</a>
          <br /> </br />
          <a href="https://www.linkedin.com/in/natashaquijano/">linkedin</a>
        </p>
    </div>
  </div>
  <div class="developer">
    <div>
      <h1>Evan</h1>
      <image class="photoevan" src="/static/images/evan.jpg" alt="Evan"></a>
        <p>Natasha is a developer and designer based in San Francisco, CA, who is passionate about design,
          technology
          and advancement. <br /> </br /> On her free time, Natasha enjoys being an active individual, meeting
          new people and
          creating new experiences.
          <br /> </br />
          Contact:
          <br /> </br />
          <a href="https://natashaquijano.com/">natashaquijano.com</a>
          <br /> </br />
          <a href="https://www.linkedin.com/in/natashaquijano/">linkedin</a>
        </p>
    </div>
  </div>
  <div class="developer">
    <div>
      <h1>Natasha</h1>
      <image class="photonatasha" src="/static/images/nash.jpg" alt="Natasha Quijano">
        <p>Natasha is a developer and designer based in San Francisco, CA, who is passionate about design,
          technology
          and advancement. <br /> <br /> On her free time, Natasha enjoys being an active individual, meeting
          new people and
          creating new experiences.
          <br /> </br />
          Contact:
          <br /> </br />
          <a href="https://natashaquijano.com/">natashaquijano.com</a>
          <br /> </br />
          <a href="https://www.linkedin.com/in/natashaquijano/">linkedin</a>
        </p>
    </div>
  </div>

  <div class="developer">
    <div>
      <h1>Mark</h1>
      <image class="photomark" src="/static/images/mark.jpg" alt="Mark">
        <p>Natasha is a developer and designer based in San Francisco, CA, who is passionate about design,
          technology
          and advancement. <br /> <br /> On her free time, Natasha enjoys being an active individual, meeting
          new people and
          creating new experiences.
          <br /> <br />
          Contact:
          <br /> <br />
          <a href="https://natashaquijano.com/">natashaquijano.com</a>
          <br /> <br />
          <a href="https://www.linkedin.com/in/natashaquijano/">linkedin</a>
        </p>
    </div>
  </div>
</div>
{% endblock %}