{% extends 'base.html' %}

{% block content %}

<h1>About Us</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sed consequuntur deleniti possimus, quibusdam debitis harum. Tenetur sapiente accusantium fugit eum ut aspernatur quam dicta ea. Officia dolor quod a!</p>

<div class="developer">
  <h1>Emily</h1>
</div>
<div class="developer">
  <h1>Evan</h1>
</div>
<div class="developer">
  <h1>Natasha</h1>
</div>
<div class="developer">
  <h1>Mark</h1>
</div>

{% endblock %}
