{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="part1">
  <div class="part2">
    <h1 class="part3">Music for Everyone</h1>
  </div>
</section>

<section class="about-ms">
  <div class="about-box">
    <h1 class="about-meenstream">MeenStream</h1>
    <p class="about-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sed consequuntur
      deleniti possimus, quibusdam
      debitis harum. Tenetur sapiente accusantium fugit eum ut aspernatur quam dicta ea. Officia dolor quod a!Lorem
      ipsum
      dolor sit amet, consectetur adipisicing elit. Temporibus sed consequuntur
      deleniti possimus, quibusdam
      debitis harum. Tenetur sapiente accusantium fugit eum ut aspernatur quam dicta ea. Officia dolor quod a</p>
  </div>
</section>

<div class="dev-container">
  <h1 class="about-us">About Us</h1>
  <div class="developers">

    <!-- <div class="dev-wrapper"> -->

      <div class="developer">
          <h2 class="developer-header">Emily</h2>
          <image class="photo emily" src="/static/images/emily.jpg" alt="Emily">
            <p class="about-description">Emily is a full stack developer originally from the land of Bob Dylan, Prince,
              and The
              Replacements.
            </p>
      </div>

      <div class="developer ">
          <h2 class="developer-header">Evan</h2>
          <image class="photo evan" src="/static/images/evan.jpg" alt="Evan"></a>
            <p class="about-description">Evan is a full stack web developer hailing from the Windy City, where he was
              raised on Beck, Daft Punk and Kanye West.
            </p>
      </div>

    <!-- </div> -->
    <!-- <div class="dev-wrapper"> -->

      <div class="developer">
          <h2 class="developer-header">Natasha</h2>
          <image class="photo natasha" src="/static/images/nash.jpg" alt="Natasha Quijano">
            <p class="about-description">Natasha is a developer and designer based in San Francisco, CA, who is
              passionate
              about design,
              technology
              and advancement.
            </p>
      </div>

      <div class="developer">
          <h2 class="developer-header">Mark</h2>
          <image class="photo mark" src="/static/images/mark.jpg" alt="Mark">
            <p class="about-description">Mark is a full-stack developer based in San Francisco, CA. He recently moved from Florida, home of
              Kodak Black, Tom Petty, and the Allman Brothers Band.
            </p>
      </div>

    <!-- </div> -->
  </div>
</div>
{% endblock %}
