/* Color Palette
Light Grey: #F7F7F7;
Grey: ##737373;
Pink: #F2B7C1;
Light Purple: #F3F3F7;
Purple: #706192;
Turqouise: #66A9A9;
Green: #87A47F;
*/

/* Typefaces */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/* Global Variables */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Nav Bar */



/* Footer */