{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<div class="profile-detail">
  <div>
    <img src="{% static 'images/mockup-image.png' %}" alt="user profile image">
  </div>
  <div class="profile-info">
    <h3>UserName (*.*) </h3>
    <p>Lorem ipsum dolor amet shabby chic tattooed church-key forage yr everyday carry banh mi. Fingerstache ramps next level, vice shabby chic aliqua craft beer brunch. Chillwave seitan tbh fashion axe. Labore hot chicken cliche ethical live-edge ullamco lumbersexual 8-bit occupy +1
    marfa. Culpa intelligentsia forage tofu squid. I bet you’re still using Bootstrap too…</p>
  </div>
</div>

<!-- get artist name -->
<form id="profile-search" action="{% url 'profile_view' username=user.username %}" method="GET">
  <input name="content" type="text" placeholder="Search">
  <select name="type">
    <option value="artist">Artist</option>
    <option value="playlist">Playlist</option>
    <option value="album">Album</option>
    <option value="track">Track</option>
  </select>
  <input type="submit" value="Search">
</form>

<h1 class="profile-results">Search Results</h1>


<!-- Artists -->
{% if artist_data %}

<!-- {{ artist_data }} -->
<!-- <p>Artist Items: {{ artist_data.artists.items }}</p> -->
<!-- Artist Search  -->
<div class="data-container">
  <div class="music-data">
    {% for item in artist_data.artists.items %}
    <h3 class="music-name">Artist Name: {{ item.name }}</h3>
    {% for image in item.images %}
    {% if image.width > 170 and image.width <= 320 %}
      <img class="music-img" src="{{ image.url }}" alt="">
      {% endif %}
      {% endfor %}
      <h4 class="music-link"><a href="{{ item.external_urls.spotify }}">Listen</a></h4>
      <form action="{% url 'playlist_index' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="artist-name" value="{{ item.name }}">
        <input type="hidden" name="external-url" value="{{ item.external_urls.spotify   }}">
        {% for image in item.images %}
        {% if image.width > 170 and image.width <= 320 %}
          <input type="hidden" name="artist-image" value="{{ image.url }}">
          {% endif %}
          {% endfor %}
          <button type="submit" class="save-button">Save</button>
      </form>

  </div>
</div>

<!-- <h3>Spotify Id: {{ item.id }}</h3> -->


{% endfor %}

<!-- Playlist Search  -->
<div class="data-container">
  <div class="music-data">
    {% for item in artist_data.playlists.items %}
    <h3 class="music-name">Playlist Name: {{ item.name }}</h3>
    {% for image in item.images %}
    <img class="music-img" src="{{ image.url }}" alt="">
    {% endfor %}
    <h4 class="music-link"><a href="{{ item.external_urls.spotify }}">Listen</a></h4>
    <button class="save-button">Save</button>
  </div>
</div>


<!-- <h3>Spotify Id: {{ item.id }}</h3> -->


{% endfor %}

<!-- Album Search  -->
<div class="data-container">
  <div class="music-data">
    {% for item in artist_data.albums.items %}
    {% for name in item.artists %}
    <h3>Artist Name: {{ name.name }}</h3>
    {% endfor %}
    <h3 class="music-name">Album name: {{ item.name }}</h3>
    {% for image in item.images %}
    {% if image.width == 300 %}
    <img class="music-img" src="{{ image.url }}" alt="">
    {% endif %}
    {% endfor %}
    <h4 class="music-link"><a href="{{ item.external_urls.spotify }}">Listen</a></h4>
    <button class="save-button">Save</button>
  </div>
</div>


<!-- <h3>Spotify Id: {{ item.id }}</h3> -->


{% endfor %}

<!-- Tracks Search  -->
<div class="data-container">
  <div class="music-data">
    {% for item in artist_data.tracks.items %}
    {% for name in item.artists %}
    <h3>Artist Name: {{ name.name }}</h3>
    {% endfor %}
    <h3 class="music-name">Track Name: {{ item.name }}</h3>
    {% for image in item.album.images %}
    {% if image.width == 300 %}
    <img class="music-img" src="{{ image.url }}" alt="">
    {% endif %}
    {% endfor %}
    <h4 class="music-link"><a href="{{ item.external_urls.spotify }}">Listen</a></h4>
    <button class="save-button">Save</button>
  </div>
</div>


<!-- <h3>Spotify Id: {{ item.id }}</h3> -->


{% endfor %}

{% else %}
<p>Content not found</p>
{% endif %}



{% endblock %}
