{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
  <link rel="stylesheet" href="{% static 'css/pages.css' %}">
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <title>MEENStream</title>
</head>

<body>

  <nav class="nav-bar">
    <img class="logo" src="/static/images/meenstream logo.png" alt="Logo" />

    <div class="hamburger">
      <img class="hamburger-icon" src="/static/images/hamburger-icon.png" alt="Hamburger" />
      <div class="side-bar hidden">
        <ul class="nav-list">
          <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="nav-item"><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'profile_view' username=user.username %}">Profile</a></li>
          <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
          <li class="nav-item"><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!--If we want to use this later we can - our "main nav"-->
    <!-- <form>
      <input type="text" placeholder="Seach" name="search-name" id="search-bar" />
      <input type="submit" placeholder="Submit" name="button-name" class="button" />
    </form> -->

    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'profile_view' username=user.username %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
      </div>
    </ul>
  </nav>

  {% block content %}

  {% endblock %}

  <footer>
    <div class="flogo-extra">
      <img class="footer-logo" src="/static/images/meenstream-logo.png" alt="Logo" />
      <br /> </br />
      <br /> </br />
      <ul class="privacy">
        <li class="extra">Legal</li>
        <li class="extra">Privacy Center</li>
        <li class="extra">Privacy Policy</li>
        <li class="extra">Cookies</li>
        <li class="extra">About Ads</li>
      </ul>
    </div>

    <div class="social">
      <img class="instagram" src="/static/images/instagram-icon.png" alt="instagram" />
      <img class="twitter" src="/static/images/twitter-icon.png" alt="twitter" />
      <img class="facebook" src="/static/images/facebook-icon.png" alt="facebook" />
      <br /> </br />
      <br /> </br />

      <p class="email">contact@meenstream.com</p>
      <p class="location">San Francisco, CA</p>


    </div>

  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>